/*-----Universal Styles----*/
body {
font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-family: 'Prata', serif;
    text-align: center;
}




/*-----Navigation bar------*/
.my-navigation {
    max-height: 100px;

}

.my-nav-links {
    color: black;
    margin: 0px 20px;
}

.my-nav-links:hover, .my-drop-item:hover {
    background-color: #f2906d;
    color: white;
}




/*----------Header-----------*/
.header-img {
    background-image: url(..kuvat/palms.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: auto;
    height: 800px;    
}

.header-img > h1 {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 90px;
    background-color: white;
    padding-top: 10px;
    height: 150px;
}


/*----------Separator-----------*/
.rounded {
    width: 150px;
    border-top: 3px solid #f2906d;
    border-radius: 5px;
    margin-bottom: 50px;
}



/*------About me section-------*/
.about-me {
    text-align: center;
    margin-top: 50px;
    height: 700px;
}

.about-me-img {
    margin-bottom: 20px;
}



/*-------What I do section---------*/
.what-i-do-section {
    text-align: center;
    background-color: #90afa7;
    width: auto;
    height: auto;
    
}

.bottom-image-cont > img, .about-me-img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.text-cont {
    margin: 100px 0;
}



/*------------Form----------*/
.my-forms {
    margin-bottom: 50px;
}



/*Header*/
.contact-section {
    margin-top: 100px;
    text-align: center;
}
/*Header paraghraph*/
.contact-section > p {
    margin-bottom: 50px;
    font-size: 20px;
}

/*Submit button*/
.my-button { 
    margin: 20px;
}

/*Headers separator*/
#contact-me-separator {
    margin-bottom: 30px;
}



/*--------Footer-------*/
.copyright {
    background-color: #bb5e3c;
}

.my-footer {
    width: auto;
    background-color: #f2906d;
    height: 100px;
    font-style: italic;
}



/*---------Media Querys-------------*/
@media (max-width:1660px) {
    .about-me {
        width: auto;
        height: auto;
        margin:20px 20px;
    }

    .extra-divider {
        display: none;
    }

    .text-cont {
        margin-bottom: 0;
    }
}

/*---------Media query for smaller screen---------*/
@media (max-width: 770px) {
    /*Navigation to the smaller screen*/
    .my-navigation {
        font-size: 12px;
        height: 60px;
        text-align: center;
    }

    .my-nav-links {
        margin: 0px 0px;
    }

    .my-logo {
        display: none;
    }

    .my-dropdown-menu {
        width: auto;
        font-size: 12px;
        padding: 0px 0px;
    }

    .header-img > h1 {
        font-size: 50px ;
        height: 150px;
    }

    .bottom-image-cont, .about-me-img {
        width: 50%; 
        height: 50%; 
        object-fit: contain;
    }
    

}



