* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 50px auto;
    width: 90%;
    height: 100%;
    background-color: #f6f6f6;

}

.container {
    width: 90%;
    height: 90%;
    max-width: 1200px;
    margin: 10px auto;
    bo
}

.box {
    float: left;
    padding: 50px;

}

.first {
    height: 40%;
    width: 25%;
    background-color: #ffa5a5;
}

.second {
    background-color: #7579e7;
    height: 40%;
    width: 50%;

}

.third {
    background-color: #d2f5e3;
    height: 40%;
    width: 25%;
}

.fourth {
    background-color: #fca652;
    height: 20%;
    width: 100%;
}

.fifth {
    background-color: #28df99;
    height: 40%;
    width: 30%;
}

.sixth {
    background-color: #ffc93c;
    height: 40%;
    width: 10%;
}

.seventh {
    background-color: #ed6663;
    height: 40%;
    width: 60%;
}