body {
font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-family: 'Prata', serif;
}

footer {
    width: auto;
    background-color: #f2906d;
    height: 100px;
}

/*-----Navigation bar------*/
.my-navigation {
    height: 100px;
}

.my-nav-links {
    color: black;
    margin: 0px 20px;
}

.my-nav-links:hover, .my-drop-item:hover {
    background-color: #f2906d;
    color: white;
}

.header-img {
    background-image: url('palms.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: auto;
    height: 800px;


    
}

.header-img > h1 {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 90px;
    background-color: white;
}

/*------About me section-------*/
.about-me {
    text-align: center;
    margin-top: 50px;
}



hr.rounded {
    width: 150px;
    border-top: 3px solid #f2906d;
    border-radius: 5px;
    margin-bottom: 50px;

}

/*What I do section*/
.middle-divider {
    text-align: center;
    background-color: #90afa7;
    width: auto;
    
}

.bottom-image-cont > img {
    max-height: 400px;

}

.text-cont {
    margin: 100px 0;
}

/*------Form-----*/
.my-forms{
    margin: 100px 0;
}

.my-button { 
    margin: 20px;
}

